body{
    background-color: black;
    color: white;
}
.container{
    border:2px solid red;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.options{
    margin-top:10px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.title{
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin: auto; */
}
.count{
    /* font-size: 80px; */
}
